.DS_Store
node_modules
/dist

# local env geofiles
.env.development.local
.env.*.local

# Log geofiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and geofiles
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
